<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subscribe.management.mapper.ChannelSubscriptionLogMapper">
    <insert id="save">
        insert into channel_member_subscription_log (
            member_id, channel_id, request_type, created_at
        ) values (
            #{memberId}, #{channelId}, #{requestType}, now()
        )
    </insert>
</mapper>