<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subscribe.management.mapper.MemberMapper">
    <select id="existsByPhone" resultType="boolean">
        select exists(
            select 1
            from member_main
            where phone = #{phone}
        )
    </select>

    <select id="findById" resultType="com.subscribe.management.domain.dto.MemberDto">
        select member_id, phone, created_at, updated_at
        from member_main
        where member_id = #{memberId}
    </select>

    <select id="findByPhone" resultType="com.subscribe.management.domain.dto.MemberDto">
        select member_id, phone, created_at, updated_at
        from member_main
        where phone = #{phone}
        limit 1
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="memberId">
        insert into member_main (
            phone, created_at, updated_at
        ) values (
            #{phone}, now(), now()
        )
    </insert>
</mapper>